.course-page {
  padding: 20px;

  .course-col {
    margin-bottom: 20px;
  }

  .course-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
